In [575]:
import pandas as pd
import numpy as np
import ast
import json
import re

In [576]:
eda = pd.read_csv(r"C:\Users\migue\OneDrive\Escritorio\movies_dataset.csv")

C:\Users\migue\AppData\Local\Temp\ipykernel_16976\2723375771.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  eda = pd.read_csv(r"C:\Users\migue\OneDrive\Escritorio\movies_dataset.csv")

In [577]:
print(eda.columns) #columnas orginales del dataset
print(eda.shape)  # 45mil datos, 24 columnas

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')
(45466, 24)

In [578]:
eda.head(3)  # exploración visual

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [579]:
# Eliminación primeras columnas que no serán utilizadas
columnas_eliminar = ['video', "imdb_id", "adult", "original_title", "poster_path", "homepage"]
eda.drop(columns=columnas_eliminar, inplace=True)
eda.head(3)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0

In [580]:
# Conteo de valores nulos por columna
conteo_nulos = eda.isna().sum()
print(conteo_nulos)

belongs_to_collection    40972
budget                       0
genres                       0
id                           0
original_language           11
overview                   954
popularity                   5
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
vote_average                 6
vote_count                   6
dtype: int64

In [581]:
# Reviso titulos de las 87 peliculas sin release_date
fechas_nulas = eda[eda['release_date'].isna()]
fechas_nulas['title']

711                War Stories Our Mother Never Told Us
734                               Vermont Is for Lovers
3460                         Jails, Hospitals & Hip-Hop
3628                                     Boricua's Bond
5879                                Divine Intervention
                              ...
45148                                   Engineering Red
45203    All Superheroes Must Die 2: The Last Superhero
45338                    The Land Where the Blues Began
45410                                             Aprel
45461                                            Subdue
Name: title, Length: 87, dtype: object

In [582]:
# Se eliminan 87 entradas que no tienen release_date
eda.dropna(subset=['release_date'], inplace=True)

print(eda.isna().sum())

belongs_to_collection    40888
budget                       0
genres                       0
id                           0
original_language           11
overview                   941
popularity                   2
production_companies         0
production_countries         0
release_date                 0
revenue                      3
runtime                    249
spoken_languages             3
status                      83
tagline                  24981
title                        3
vote_average                 3
vote_count                   3
dtype: int64

In [583]:
# Reviso las instancias que tienen revenue nulo
revenue_nulo = eda[eda['revenue'].isna()]
revenue_nulo

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
19730,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...",1997-08-20,104.0,Released,NaN,False,6.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...",2012-09-29,68.0,Released,NaN,False,7.0,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35587,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...",2014-01-01,82.0,Released,Beware Of Frost Bites,False,4.3,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [584]:
#Se deciden eliminar las 3 entradas de revenue 0 por data insuficiente
eda.dropna(subset=['revenue'], inplace=True)

print(eda.isna().sum())
eda.shape

belongs_to_collection    40888
budget                       0
genres                       0
id                           0
original_language           11
overview                   941
popularity                   0
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                    246
spoken_languages             0
status                      80
tagline                  24978
title                        0
vote_average                 0
vote_count                   0
dtype: int64

(45376, 18)

In [585]:
# Creamos columa return (revenue/budget) que dará 0 en caso de no poder realizar la división

#primero creamos la función que calculará el return
def cal_return(revenue, budget):
    if float(budget) == 0:
        return 0
    else:
        return float(revenue)/float(budget)
    

#creamos nueva columa return
eda['return']=eda.apply(lambda row: cal_return(row['revenue'], row['budget']), axis=1)

print(eda.isna().sum())

belongs_to_collection    40888
budget                       0
genres                       0
id                           0
original_language           11
overview                   941
popularity                   0
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                    246
spoken_languages             0
status                      80
tagline                  24978
title                        0
vote_average                 0
vote_count                   0
return                       0
dtype: int64

In [586]:
# transformamos las fechas de release_date a datetime
eda['release_date']=pd.to_datetime(eda['release_date'])

# eda['release_date']=eda['release_date'].dt.strftime('%Y-%m-%d')  #Esto es para volverlo str con formato AAAA-mm-dd

# se crea columna 'release_year' donde se alberga solo el año de estreno
eda['release_year']=eda['release_date'].dt.year

eda

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,return,release_year
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,12.451801,1995
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,4.043035,1995
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,0.000000,1995
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,5.090760,1995
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,0.000000,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,5.7,26.0,0.000000,1991
45462,NaN,0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,3.0,0.000000,2011
45463,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,6.0,0.000000,2003
45464,NaN,0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.0,0.000000,1917
45465,NaN,0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,0.0,0.000000,2017

In [587]:

# Se observan el tipo de datos en las columnas anidadas
print(eda['belongs_to_collection'].apply(type).value_counts())
print(eda['genres'].apply(type).value_counts())
print(eda['production_companies'].apply(type).value_counts())
print(eda['production_countries'].apply(type).value_counts())
print(eda['spoken_languages'].apply(type).value_counts())

belongs_to_collection
<class 'float'>    40888
<class 'str'>       4488
Name: count, dtype: int64
genres
<class 'str'>    45376
Name: count, dtype: int64
production_companies
<class 'str'>    45376
Name: count, dtype: int64
production_countries
<class 'str'>    45376
Name: count, dtype: int64
spoken_languages
<class 'str'>    45376
Name: count, dtype: int64

In [588]:
# Se crea una función que reemplaza las comillas ' por " para manejar json
def reemplazar_comillas(cadena):
  return re.sub(r"'", '"', cadena)

#Se cambian comillas de columna genres
eda['genres'] = eda['genres'].apply(reemplazar_comillas)

#Se transforma los datos de str a listas
eda['genres'] = eda['genres'].apply(lambda x: json.loads(x))

#Se desanidan id y los nombres de la columna genres
eda['genres_ids'] = eda['genres'].apply(lambda x: [d['id'] for d in x])
eda['genres_names'] = eda['genres'].apply(lambda x: [d['name'] for d in x])

eda

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,spoken_languages,status,tagline,title,vote_average,vote_count,return,release_year,genres_ids,genres_names
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,12.451801,1995,"[16, 35, 10751]","[Animation, Comedy, Family]"
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,4.043035,1995,"[12, 14, 10751]","[Adventure, Fantasy, Family]"
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,0.000000,1995,"[10749, 35]","[Romance, Comedy]"
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,5.090760,1995,"[35, 18, 10749]","[Comedy, Drama, Romance]"
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,0.000000,1995,[35],[Comedy]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,5.7,26.0,0.000000,1991,"[18, 28, 10749]","[Drama, Action, Romance]"
45462,NaN,0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,...,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,3.0,0.000000,2011,[18],[Drama]
45463,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,6.0,0.000000,2003,"[28, 18, 53]","[Action, Drama, Thriller]"
45464,NaN,0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,...,[],Released,NaN,Satan Triumphant,0.0,0.0,0.000000,1917,[],[]
45465,NaN,0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,0.0,0.000000,2017,[],[]

In [589]:
# funcion para formatear las conlumnas con listas de diccionarios
def convert_to_list_of_dicts(value):
    try:
        
        value = value.strip()
    
        return ast.literal_eval(value)
    except (ValueError, SyntaxError):
        return [] 

# Se transforma la columna production_companies y se desanida en id y names
eda['production_companies'] = eda['production_companies'].apply(convert_to_list_of_dicts)
eda['production_companies_id'] = eda['production_companies'].apply(lambda x: [d['id'] for d in x])
eda['production_companies_names'] = eda['production_companies'].apply(lambda x: [d['name'] for d in x])

In [590]:
# de la columna production_countries se desanida el codigo iso
eda['production_countries'] = eda['production_countries'].apply(convert_to_list_of_dicts)
eda['production_countries_iso'] = eda['production_countries'].apply(lambda x: [d['iso_3166_1'] for d in x])
eda['production_countries_names'] = eda['production_countries'].apply(lambda x: [d['name'] for d in x])

In [591]:
# se transforma la columna spoken_languages a lista de dicc y se desanidan
eda['spoken_languages'] = eda['spoken_languages'].apply(convert_to_list_of_dicts)
eda['spoken_languages_iso'] = eda['spoken_languages'].apply(lambda x: [d['iso_639_1'] for d in x])
eda['spoken_languages_name'] = eda['spoken_languages'].apply(lambda x: [d['name'] for d in x])

In [ ]:
print(eda['belongs_to_collection'].dtype)

In [592]:
# Eliminación columnas desanidadas
columnas_eliminar = ['belongs_to_collection', "genres", "production_countries", "production_companies", "spoken_languages"]
eda.drop(columns=columnas_eliminar, inplace=True)
eda.head(3)

,belongs_to_collection,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,...,return,release_year,genres_ids,genres_names,production_companies_id,production_companies_names,production_countries_iso,production_countries_names,spoken_languages_iso,spoken_languages_name
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,...,12.451801,1995,"[16, 35, 10751]","[Animation, Comedy, Family]",[3],[Pixar Animation Studios],[US],[United States of America],[en],[English]
1,NaN,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,...,4.043035,1995,"[12, 14, 10751]","[Adventure, Fantasy, Family]","[559, 2550, 10201]","[TriStar Pictures, Teitler Film, Interscope Co...",[US],[United States of America],"[en, fr]","[English, Français]"
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,15602,en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,Released,...,0.000000,1995,"[10749, 35]","[Romance, Comedy]","[6194, 19464]","[Warner Bros., Lancaster Gate]",[US],[United States of America],[en],[English]

In [593]:
eda2 = pd.read_csv(r"C:\Users\migue\OneDrive\Escritorio\credits.csv")

In [594]:
# se formatea columna cast y se desanida en los actores/actrices
eda2['cast'] = eda2['cast'].apply(convert_to_list_of_dicts)
eda2['cast_names'] = eda2['cast'].apply(lambda x: [d['name'] for d in x])

In [595]:
eda2

,cast,crew,id,cast_names
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,..."
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop..."
3,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,"[Whitney Houston, Angela Bassett, Loretta Devi..."
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,"[Steve Martin, Diane Keaton, Martin Short, Kim..."
...,...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050,"[Leila Hatami, Kourosh Tahami, Elham Korda]"
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,"[Angel Aquino, Perry Dizon, Hazel Orencio, Joe..."
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,"[Erika Eleniak, Adam Baldwin, Julie du Page, J..."
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa..."
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257,[]

In [596]:
# funcion para extraer director de crew
def extraer_nombre_director(lista_diccionarios):
  for diccionario in lista_diccionarios:
    if diccionario['job'] == 'Director':
      return diccionario['name']
  return None

eda2['crew'] = eda2['crew'].apply(convert_to_list_of_dicts)

In [597]:
eda2['director_name']=eda2['crew'].apply(extraer_nombre_director)

In [598]:
columnas_eliminar = ['crew', 'cast']
eda2.drop(columns=columnas_eliminar, inplace=True)

In [599]:
eda['id'] = eda['id'].astype('int64')
print(eda['id'].dtype)

int64

In [600]:
df = eda.merge(eda2, on='id', how='inner')

In [601]:
df

,belongs_to_collection,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,...,genres_ids,genres_names,production_companies_id,production_companies_names,production_countries_iso,production_countries_names,spoken_languages_iso,spoken_languages_name,cast_names,director_name
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,...,"[16, 35, 10751]","[Animation, Comedy, Family]",[3],[Pixar Animation Studios],[US],[United States of America],[en],[English],"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",John Lasseter
1,NaN,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,...,"[12, 14, 10751]","[Adventure, Fantasy, Family]","[559, 2550, 10201]","[TriStar Pictures, Teitler Film, Interscope Co...",[US],[United States of America],"[en, fr]","[English, Français]","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",Joe Johnston
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,15602,en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,Released,...,"[10749, 35]","[Romance, Comedy]","[6194, 19464]","[Warner Bros., Lancaster Gate]",[US],[United States of America],[en],[English],"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",Howard Deutch
3,NaN,16000000,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,...,"[35, 18, 10749]","[Comedy, Drama, Romance]",[306],[Twentieth Century Fox Film Corporation],[US],[United States of America],[en],[English],"[Whitney Houston, Angela Bassett, Loretta Devi...",Forest Whitaker
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,...,[35],[Comedy],"[5842, 9195]","[Sandollar Productions, Touchstone Pictures]",[US],[United States of America],[en],[English],"[Steve Martin, Diane Keaton, Martin Short, Kim...",Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45446,NaN,0,30840,en,"Yet another version of the classic epic, with ...",5.683753,1991-05-13,0.0,104.0,Released,...,"[18, 28, 10749]","[Drama, Action, Romance]","[7025, 10163, 16323, 38978]","[Westdeutscher Rundfunk (WDR), Working Title F...","[CA, DE, GB, US]","[Canada, Germany, United Kingdom, United State...",[en],[English],"[Patrick Bergin, Uma Thurman, David Morrissey,...",John Irvin
45447,NaN,0,111109,tl,An artist struggles to finish his work while a...,0.178241,2011-11-17,0.0,360.0,Released,...,[18],[Drama],[19653],[Sine Olivia],[PH],[Philippines],[tl],[],"[Angel Aquino, Perry Dizon, Hazel Orencio, Joe...",Lav Diaz
45448,NaN,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Released,...,"[28, 18, 53]","[Action, Drama, Thriller]",[6165],[American World Pictures],[US],[United States of America],[en],[English],"[Erika Eleniak, Adam Baldwin, Julie du Page, J...",Mark L. Lester
45449,NaN,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,...,[],[],[88753],[Yermoliev],[RU],[Russia],[],[],"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...",Yakov Protazanov
45450,NaN,0,461257,en,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,Released,...,[],[],[],[],[GB],[United Kingdom],[en],[English],[],Daisy Asquith

In [602]:
print(df.isna().sum())

belongs_to_collection         40954
budget                            0
id                                0
original_language                11
overview                        941
popularity                        0
release_date                      0
revenue                           0
runtime                         246
status                           80
tagline                       25026
title                             0
vote_average                      0
vote_count                        0
return                            0
release_year                      0
genres_ids                        0
genres_names                      0
production_companies_id           0
production_companies_names        0
production_countries_iso          0
production_countries_names        0
spoken_languages_iso              0
spoken_languages_name             0
cast_names                        0
director_name                   835
dtype: int64